.modal-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	background-color: rgba(0,0,0,0.4);
}

.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   max-width: 520px;
   max-height: 50%;
   width: 100%;
   box-sizing: border-box;
   background-color: rgb(231, 76, 60);
   border-radius: 5px;
   color:#fff;
   text-align: center;

	.modal-close {
		position: absolute;
		right: 25px;
		top: 25px;
		display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
		align-items: center; justify-content: center;
		text-decoration: none !important;
		outline: none;
		-webkit-appearance: none;
		border: none;
		cursor: pointer;
		user-select: none;
		background-color: transparent;
	}

   .modal-header {
      text-align: left;
      border-radius: 5px 5px 0  0;
      padding: 25px 25px;
      font-size: 25px;
      background-color: rgb(212, 70, 55);
   }

   h4{
      margin: 0;
   }

   .modal-content{
      padding: 0 30px;
   }


   .modal-footer {
      margin-top: 24px;
   }

	.button-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
      margin-bottom: 24px;
	}
}

.btn {
   width: 100px;
   height: 40px;
   margin: 0 7px;
   position: relative;
   display: inline-flex; vertical-align: middle; text-align: center; box-sizing: border-box;
   align-items: center; justify-content: center;
   text-decoration: none !important;
   outline: none;
   -webkit-appearance: none;
   border: none;
   cursor: pointer;
   user-select: none;
   background-color: rgb(179, 56, 44);
   font-family: Roboto,sans-serif;
   font-weight: 400;
   font-size: 16px;
   border-radius: 5px;
   text-transform: capitalize;
   color: #fff;
}
